<div class="content___evento-creado">
    <div class="container ">
        <div class="content--color">
            <h3 class="content__title--h1">
                ¡Has creado tu evento!
            </h3>
            <img
                src="/assets/images/svg/champagne.svg"
                class="content___evento-creado--img"
                alt="Felicidades has creado tu evento"
            />
            <button class="btn create-event btn-final">
                Crear un nuevo evento
            </button>
        </div>
    </div>
</div>
