
  <div class="container__module bg-white">
    <div class="container">
      <h1 class="content__title--h1">¡Hola!</h1>
      <p>
        Secret Friend es una app online para organizar regalos entre amistades,
        compis de trabajo, etc.
      </p>

      <ul class="content__init--list">
        <li class="content__init--item">
          <img class="icon" src="assets/images/svg/1.svg" alt="Número 1" />
          Elige fecha de la reunión y el importe
        </li>
        <li class="content__init--item">
          <img class="icon" src="assets/images/svg/2.svg" alt="Número 2" />
          Añade el nombre y el email de tus amistades
        </li>
        <li class="content__init--item">
          <img class="icon" src="assets/images/svg/3.svg" alt="Número 3" />
          Crea el evento
        </li>
      </ul>
    </div>
  </div>  
  
