.icon {
    width: 4.375rem;
    height: auto;
    margin-right: 10px;

    &.icon--input {
        width: 50px;
        margin-right: 10px;
        grid-area: icon;
    }
}

.content {
    &___evento-creado--img {
        width: 50%;
    }
}

