$font-family:         "Open Sans", sans-serif;
$color-text:        #333333;
$color-white:       #ffffff;
$color-gray:        #cdcdcf;
$color-error:       #9e160d;
$color-gray-rock:   #b1afaf;
$color-extra:       #79a8fe;
$color-extra-create:#c9dbfb;
$color-purple:      #800080;

@mixin d-flex($display, $justify, $align) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}

@mixin font($size, $line-height) {
  font-size: $size;
  line-height: $line-height;
}